.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 0 40px;
    align-items: center;

    @media (max-width: 500px){
        & {
            padding: 40px 0 0 0;
        }
     } 
}

ul {
    text-decoration: none;
}

.nav__list {
    display: flex;

    @media (max-width: 700px){
        & {
            flex-wrap: wrap;
            width: 184px;
            margin-right: 100px;
        }
     }

     @media (max-width: 500px){
        & {
            margin-right: 10px;
        }
     } 
}

.nav__item {
    padding: 10px 18px;

    &:hover {
        opacity: 0.5;
    }

    @media (max-width: 700px){
        & {
            justify-content: left;
            width: 92px;
        }
     }
}

.nav__item:last-child {
    padding: 10px 273px 10px 18px;

    @media (max-width: 1000px){
        & {
            padding: 10px 135px 10px 18px;
        }
     }

     @media (max-width: 700px){
        & {
            padding: 10px 18px;
        }
     }

}

.nav__item:first-child {
    padding: 10px 18px 10px 0px;

    @media (max-width: 700px){
        & {
            padding: 10px 18px;
        }
     }
}


